<div class="h-100 d-flex justify-content-center align-items-center">
  <mat-card class="card p-5">
    <div class="text-center pb-3 font-weight-bold h3">LOGIN</div>
    <form>
      <mat-form-field class="w-100">
        <input matInput placeholder="Username" #usernameInput="ngModel" name="username" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="Password" #passwordInput="ngModel" name="password" [(ngModel)]="password">
      </mat-form-field>
      <div class="w-100 text-center mt-3">
        <button class="px-5 py-1" mat-raised-button color="primary">Submit</button>
      </div>
    </form>
  </mat-card>
</div>